# First and foremost take a look at ./HACKING.md to get your development
# environment setup!
# ============================================================================

# Note: when running `make debug-container`, change the hostname in the
# database connection string from localhost:5432 to `host.docker.internal`
# on macOS. On Linux, pass the `--net=host` flag to Docker when we call
# `docker run` inside the Makefile in the `start-db` rule.
DATABASE_URL=postgres://you:somepassword@localhost:5432/phat_stack
SESSION_SECRET=superdupersecret

# Note: these guys are only used to initialize the PostgreSQL database
# container with Docker
POSTGRES_USER=you
POSTGRES_PASSWORD=somepassword
POSTGRES_DB=phat_stack
